<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>濑津美</title>
    <link rel="stylesheet" href="/static/css/Login.css">
</head>
<body>
    <div class="box1"></div>
    <div class="box">
            <h2>濑津美个人博客</h2>
    <div class="inputBox">
      <input type="text" name="" required="">
      <label>手机号</label>
    </div>
    <div class="inputBox">
		<input type="vcode" name="" required="">
		<label>验证码</label>
    </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" name="" value="登录">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;
    <input type="button" name="" value="发送验证码">
	</div>
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11" defer></script>
<script type="text/javascript" src="/static/js/jquery-1.12.3.js" ></script>
<script type="text/javascript" src="/static/js/login.js" ></script>
<script>
window.onload=function(){
	$(".box1").append("<div id='shContent'><span id='subtitle'></span><span id='typed-cursor'></span></div>");
	var typed=new Typed("#subtitle",{strings:["谁都别说，让我一个人躲一躲", "你的承诺，我竟然没有怀疑过"],startDelay:1000,typeSpeed:100,loop:!0,backSpeed:60,backDelay:2000,showCursor:!0})
}
</script>